.mainContainer {
  padding: 26px 40px;
}

.section {
  max-width: 35rem;
  margin: 0 auto;
}

.sectionTitle {
  display: flex;
  gap: 10px;

  h2 {
    @include section-title();
  }

  .sectionTitleIcon {
    color: $black;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}

.pokemons {
  padding: 9px 0 40px 0;

  .pokemonsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
  }
}

.pokemonTeam {
  padding: 9px 0 40px 0;

  .pokemonTeamRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
  }
}