.teamOptions {
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  font-size: 15px;
  color: $white;
  
  .trashIcon {
    cursor: pointer;
    background-color: $red-error;
    border-radius: 100px;
    padding: 13px;
    display: flex;
    align-items: center;
    transition: all .5s ease;

    &:hover {
      filter: brightness(1.5);
    }
  }

  .checkIcon {
    cursor: pointer;
    background-color: $green-sucess;
    border-radius: 100px;
    padding: 13px;
    display: flex;
    align-items: center;
    transition: all .5s ease;

    &:hover {
      filter: brightness(1.5);
    }
  }
}