.pokemonItem {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s ease;

  &:hover {
    filter: opacity(0.5);
  }

  .pokemonId {
    background-color: $blue-light;
    border-radius: 100px;
    color: $white;
    min-height: 36px;
    min-width: 36px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 7rem;
  }

  h3 {
    @include pokemon-name();
  }

  .pokemonBar {
    width: 50%;
    height: 3px;
    align-self: flex-start;
    margin-top: 8px;
  }

  .pokemonBarColor {
  }

  .checkIcon {
    display: none;
    position: absolute;
    top: 40%;
    background-color: $green-sucess;
    border-radius: 100px;
    padding: 13px;
    color: $white;
  }
}